form{
  text-align: center;
  padding-top: 5em;
}

form input[type=submit]{
  background: #EA5D00;
  padding: 8px;
  border: none;
  color: #fff;
}

form input[type=text], input[type=password]{
  padding: 7px;
}

form input{
  border: 1px solid black;
  border-radius: 3px;
}

#hi{
  width: 450px;
  margin: auto;
  text-align: center;
}

@media only screen and (max-device-width: 768px){

  form{
    display: block;
  }
  input{
    width: 100%;
    font-size: 3em;
    margin-bottom: 0.33em;
  }
  div#hi{
    font-size: 3em;
    /*margin: 0 2em 0 2em;*/
    margin: auto;
    overflow: scroll;
  }

}
