
/*
██████  ███████ ███████ ███████ ████████
██   ██ ██      ██      ██         ██
██████  █████   ███████ █████      ██
██   ██ ██           ██ ██         ██
██   ██ ███████ ███████ ███████    ██
*/


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

html,
body,
div {
  margin: 0;
  padding: 0;
}

/*
 ██████  ██       ██████  ██████   █████  ██
██       ██      ██    ██ ██   ██ ██   ██ ██
██   ███ ██      ██    ██ ██████  ███████ ██
██    ██ ██      ██    ██ ██   ██ ██   ██ ██
 ██████  ███████  ██████  ██████  ██   ██ ███████
*/


h5 {
  margin-bottom: 8px;
}

.hidden {
  display: none;
}


/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/


  /* width: 100%; */
  /* grid-template-areas: "blank main ."
                       "blank main ."
                       "blank main .";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr; */

body {
  width: 25em;
  margin: 0 auto;
  font-family: 'Catamaran', sans-serif;
  line-height: 1.15;
  background-color: #36393f;
  color: #dcddde;
}

div.picture {
  width: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.wrapper {
  margin-top: 3.5em;
}

.titleURL {
  text-decoration: none;
  color: inherit;
}

.card{
  margin: 0 .8em;
  border-radius: 5px;
  background-color: #202225;
  padding: .8em;
  margin-top: 1em;
  transition: box-shadow .2s ease, background-color .2s ease;
}

.card:hover {
  box-shadow: 0 9px 20px 0 rgba(0,0,0,.32);
  background-color: #18191c;
  transition: box-shadow .2s ease, background-color .2s ease;
}

#add {
  position: fixed;
  left: 3px; bottom:3px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 8pt;
}

.dis {
  padding: .5em 0;
  font-size: 10pt;
}

/*
████████  ██████  ██████      ██████   █████  ██████
   ██    ██    ██ ██   ██     ██   ██ ██   ██ ██   ██
   ██    ██    ██ ██████      ██████  ███████ ██████
   ██    ██    ██ ██          ██   ██ ██   ██ ██   ██
   ██     ██████  ██          ██████  ██   ██ ██   ██
*/


.top-bar {
  padding: 0.3em;
  position: fixed;
  height: 2.8em;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 5px rgba(17, 17, 17, 0.69);
  background: #202225;
  display: flex;
}

.top-bar img {
  height: 97%;
}

.carrot {
	width: auto;
	height: 1em;
  margin: auto 0;

}

.carrot path {
	stroke: #dcddde;
	fill: #dcddde;
}

.search-box {
  font-size: 12pt;
  flex-grow: 1;
  margin: 0 .4em;
  border-color: #36393f;
  width: 0;
}

.search-box:focus {
  border-color: #7289da;
  transition: all .2s ease;
}

.search-box::placeholder {
  color: rgba(255, 255, 255, .25);
}


/*
██       ██████   ██████  ██ ███    ██
██      ██    ██ ██       ██ ████   ██
██      ██    ██ ██   ███ ██ ██ ██  ██
██      ██    ██ ██    ██ ██ ██  ██ ██
███████  ██████   ██████  ██ ██   ████
*/

.card-popup {
  position: fixed;
  background: #36393f;
  width: 25em;
  margin: 0 auto;
}

.card-popup:hover {
  background: #36393f;
}

input {
  width: 100%;
  margin: 0 auto;
  margin-bottom: .8em;
  display: block;
  border:1px solid #7289da;
  border-radius: 3px;
  padding: 1em;
  color: inherit;
}

input[type='text'] {
  background: #313339;

}

.submit {
  background: #7289da;
  font-weight: bold;
}

.dim {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.see-now {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

@media screen and  (max-width: 768px) {
  body {
    width: 100%;
    max-width: 100%;
  }
}
