body {color: black}
iframe {margin: 0; padding: 0; float: left}
fieldset {border: 2px solid #000; background: #9FBB8F}
legend {font-weight: bold; font-size: 1.5em; margin-bottom: .5em;}
input {margin: 0em 1em .5em 1em}

#fff {background-color: transparent}
#reg {position: absolute; left: 500}

a.li {text-decoration: none; color: black}
	a.li:link {color: black}
	a.li.pics:visited {color: purple}
	a.li:hover {color: red}
	a.li:active {color: blue}
	a#active {color: blue}
h1 {font: 42pt elephant, fantasy; text-align: center}
div.txt {font-family: broadway; margin: 0em 10em 0em 10em;}
ul.button {
		list-style: none;
		font-family: castellar;
		font-size: 14pt;
		float: left;
		margin: 0 0 5em 0;
		text-align: right;}
ul.button2 {
		list-style: none;
		font-size: 14pt; }
	li.button {cursor: pointer}
	li.button:hover {color: red}
	li.button:active {color: blue}
	li.tab {margin-left: 2em}
#brains {position: relative; top: 1em; left: 1.5em}