form{
  text-align: center;
  padding-top: 5em;
}

form input[type=submit]{
  background: #EA5D00;
  padding: 8px;
  border: none;
  color: #fff;
}

form input[type=text], input[type=password]{
  padding: 0.5em;
}

form input{
  border: 1px solid black;
  border-radius: 3px;
}

#hi{
  width: 450px;
  margin: auto;
  text-align: center;
}

@media only screen and (max-device-width: 768px){

  input{
    font-size: 3em;
    margin: auto;
    margin-bottom: 0.33em;
    display: block;
    width: 15em;
  }

  input[type="submit"]{
    padding: 0;
    width: 16em;
  }

  div#hi{
    font-size: 3em;
    width: 15em;
    margin: auto;
    overflow: scroll;
  }

}
