*:focus
{
	outline: none;
}

input:not([type="submit"])
{
	border: 1px solid gray;
	padding: .5em;
	border-radius: .3em;
	transition: border 0.5s;
}

input[type="submit"]
{
	padding: .5em;
	border-radius: .2em;
}

select
{
	padding: .5em 2em .5em;
	border: 1px solid gray;
	border-radius: .3em;
	transition: border 0.5s;
}

select:focus
{
	border: 1px solid red;
}

textarea
{
	padding: 1em;
	width: 20em;
	height: 10em;
	
	max-width: 20em;
	max-height: 10em;
	min-width: 20em;
	min-height: 10em;
	
	border: 1px solid gray;
	border-radius: .3em;
}